# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Assembly-CSharp*.csproj
Assembly-UnityScript*.unityproj

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
bin/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ==== #
# misc #
# ==== #
*.apk
*.orig
*.sqlsuo
*_ReSharper.*
*.log