language: objective-c

osx_image: xcode7

rvm:
- 2.1.2

env:
  global:
    - APP_NAME="marioBadClone"
    - INSTALL_UNITY="4.x"
    - UNITY_HOME=/Applications/Unity
    - UNITY_BIN_DIR=/Applications/Unity/Unity.app/Contents/MacOS

before_install:
- chmod +x ./ci_scripts/install.sh

install:
- ./ci_scripts/install.sh

before_script:
- chmod +x ./ci_scripts/build.sh

script:
- ./ci_scripts/build.sh