version: '{build}'

os: Windows Server 2012 R2

environment:
  APP_NAME: "marioBadClone"
  UNITY_HOME: 'C:\Applications\Unity\Editor'
  UNITY_BIN_DIR: 'C:\Applications\Unity\Editor'

platform:
  - x86

assembly_info:  
  patch: false

install:
  - cmd: |
      call ci_scripts\install_nugget.bat
      tree /F C:\projects\mariobadclone\packages
      tree /F C:\packages

build_script:
  - cmd: call ci_scripts\build.bat

test_script:
  - ps: Write-Output "No test scripts"

notifications:
  email: false
