version: '{build}'

os: Windows Server 2012 R2

environment:
  APP_NAME: 'marioBadClone'
  UNITY_HOME: 'C:\Applications\Unity'
  UNITY_BIN_DIR: 'C:\Applications\Unity'

platform:
  - x86

install:
  - ps: |
      Write-Output "Current directory is $(Get-Location)"
      if ( -Not ( Test-Path "C:\UnitySetup-4.6.9.exe" ) ) {
        $url = "http://beta.unity3d.com/download/7083239589/UnitySetup-4.6.9.exe"
        $down = "C:\UnitySetup-4.6.9.exe"
        $start_time = Get-Date
        Write-Output "Downloading $url ..."
        $wc = New-Object System.Net.WebClient
        $wc.DownloadFile($url, $down)
        # Other better option with progress bar
        #Import-Module -Name BitsTransfer -Verbose
        #Start-BitsTransfer -Source $url -Destination $down
        Write-Output "Downloaded in: $((Get-Date).Subtract($start_time).Seconds) second(s)"
      }
      if ( -Not ( Test-Path "C:\Applications\Unity" ) ) {
        Write-Output "Installing..."
        Invoke-Expression "ci_scripts\install.ps1 $down C:\Applications\Unity"
        Write-Output "Finished installation step"
      }

build_script:
  - cmd: call ci_scripts\build.bat

test_script:
  - ps: |
      Write-Output "No test scripts"

cache:
  - C:\UnitySetup-4.6.9.exe
  - C:\Applications\Unity

notifications:
  email: false
