version: '{build}'

os: Windows Server 2012 R2

environment:
  APP_NAME: "marioBadClone"
  UNITY_HOME: 'C:\Applications\Unity\Editor'
  UNITY_BIN_DIR: 'C:\Applications\Unity\Editor'

platform:
  - x86

install:
  - ps: |
      $UNITY_HOME="C:\Applications\Unity\Editor"
      Invoke-Expression "ci_scripts\install.ps1"

build_script:
  - cmd: call ci_scripts\build.bat

test_script:
  - ps: |
      Write-Output "No test scripts"

cache:
  - C:\UnitySetup-4.6.9.exe
  - C:\Applications\Unity

notifications:
  email: false
